$body--colour: #fff;
$impact-primary-colour: #08599B;
$impact-secondary-colour: #7e57c2;
$header--colour: #08599B;
$main--colour: #fff;
$footer--colour: #fff;
$link--colour: #545454;
$font-family-heading: "Raleway",
sans-serif;
$transition--time: .2s;
$box-shadow--top: 0 -1px 3px rgba(34, 25, 25, 0.4);
$box-shadow--bottom: 0 1px 3px rgba(34, 25, 25, 0.4);
//percentages
$half: percentage(1/2);
$third: percentage(1/3);
$quarter: percentage(1/4);
$fifth: percentage(1/5);
$sixth: percentage(1/6);